body {
    margin: 0;
}

.container {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    min-height: 100vh;
}

nav, section, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav, footer {
    color: #fff;
    background-color: gray;
    height: 10vh;
}

section {
    height: 80vh;
}