body {
    width: 100%;
    text-align: center;
}

nav {
    background-color: darkgray;
    height: 10vh;
}

section {
    height: 80vh;
}

footer {
    background-color: darkgray;
    height: 10vh;
}