body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    background-image: url("imgs/bg.jpg");
    background-color: black;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: white;
    text-shadow: black;
}